<header>
    <div class="navigation-fixed-placeholder" style="height: 90px;"></div>
    <div class="navigation-fixed-wrapper" style="top: 0px;">
        <nav id="navigation4" class="container navigation navigation-landscape" style="width: 1423px;">
            <div class="nav-header"><a class="nav-brand" href="index.php">
                    <img src="/web/20220625045933im_/https://waheedgroup.com.pk/img/whImages/logo.png" class="main-logo"
                        alt="logo" id="main_logo"></a>
                <div class="nav-toggle"></div>
            </div>
            <div class="nav-menus-wrapper" style="transition-property: none;"><span
                    class="nav-menus-wrapper-close-button">✕</span>
                <ul class="nav-menu align-to-right">
                    <li class=""><a href="index.php">Home</a></li>
                    <li class="">
                        <a href="#">About Us<span class="submenu-indicator"><span
                                    class="submenu-indicator-chevron"></span></span></a>
                        <ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
                            <li class=""><a href="chairman.php">Chairman</a></li>
                            <li><a href="directors.php">Directors</a></li>
                            <li><a href="awards.php">Awards</a></li>
                            <li><a href="aboutus.php">About Us </a></li>
                        </ul>
                    </li>
                    <li><a href="#">Our Concerns<span class="submenu-indicator"><span
                                    class="submenu-indicator-chevron"></span></span></a>
                        <ul class="nav-dropdown nav-submenu" style="right: auto;">
                            <li><a href="oil&amp;ghee.php">Oil &amp; Ghee</a></li>
                            <li><a href="industrial-fat.php">Industrial Fat</a></li>
                            <li><a href="transport.php">Transport</a></li>
                            <li><a href="hotel.php">Hotel</a></li>
                            <li><a href="energy-sector.php">Energy Sector</a></li>
                            <li><a href="wgc-interprises-ltd.php">WGC Interprises Ltd</a></li>
                        </ul>
                    </li>
                    <li><a href="products.php">Our Products</a></li>
                    <li class=""><a href="latestNews.php">Latest News</a></li>
                    <li class=""><a href="gallery.php">Media Gallery</a></li>
                    <li><a href="contactus.php">Contact Us</a></li>


                </ul>
            </div>
            <div class="nav-overlay-panel"></div>
        </nav>
    </div>
</header>